@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
    font-weight: lighter;
}

header {
    font-family: 'Secular One', sans-serif;
}

.container {
    background-color: black;
    color: lightgray;
	padding: 2rem;
    margin-bottom: 10px;
}

.row {
	display: flex;
}

.light-grey, .dark-grey, .orange {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(252, 157, 34);
	height: 4.2rem;
	width: 4.2rem;
	border-radius: 50%;
	margin: 0.4rem;
	cursor: pointer;
	font-weight: 600;
}

.light-grey {
	background-color: rgb(165, 165, 165);
	color: black;
}

.dark-grey {
	background-color: rgb(51, 51, 51);
    transition: 0.4s;
}

.light-grey:hover {
	background: rgb(166, 166, 166, 0.8);
    transition: 0.4s;
}

.dark-grey:hover {
	background: rgb(51, 51, 51, 0.8);
    transition: 0.4s;
}

.yellow:hover {
	background: rgb(255, 149, 1);
    transition: 0.4s;
}

.click-effect {
	animation: ripple 0.1s;
}

@keyframes ripple {
	to {
		transform: scale(0.95);
	}
}

#zero {
    width: 9.2rem;
	border-radius: 0 50px 50px 0;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
}
.display-cover {
	width: 19.2rem;
	height: 3rem;
	margin: 0 0.4rem 1.5rem 0.4rem;
	text-align: right;
	font-size: 3rem;
	padding-bottom: 0.5rem;
	overflow-y: hidden;
	overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.display {
	height: 3rem;
	display: inline-block;
	scroll-snap-align: end;
}

.output {
	width: 19.2rem;
	height: 2rem;
	margin: 0 0.4rem 1.5rem 0.4rem;
	text-align: right;
	font-size: 2rem;
    padding-bottom: 0.5rem;
	overflow-y: hidden;
	overflow-x: scroll;
}

i {
	font-size: 2200rem;
}

.display-cover, .output {
	scrollbar-color: #333333 black;
	scrollbar-width: thin;
}  

.display-cover::-webkit-scrollbar,
.output::-webkit-scrollbar {
	width: 19.2rem;
	height: 0.2rem;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}